[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/bdevs"]
	path = vendor/bdevs
	url = https://michael-okeefe@bitbucket.org/bigladder/bdevs.git
	branch = add_cmake
