# Create .env.debug and .env.release with appropriate ERIN paths
# NOTE: use absolute paths OR just the exe name if on your path
# NOTE: for windows when using absolute paths, you have to escape the back-slashes TWICE:
# example: "C:\\\\projects\\\\erin\\\\build\\\\bin\\\\Debug\\\\erin.exe"
# The first escape is for the string and the second is for the shell (git-bash)
PYTHON="path to python interpreter or just 'python' (without single quotes)"
ERIN="path to erin executable for the given environment"

