;; this file is written in EDN format:
;; https://github.com/edn-format/edn
[{:engine :erin_single
  :args "ex01.toml out.csv stats.csv blue_sky"
  :compare-generated-to-ref
  {"out.csv" "ex01-out.csv"
   "stats.csv" "ex01-stats.csv"}}
 {:engine :erin_single
  :args "ex02.toml out.csv stats.csv blue_sky"
  :compare-generated-to-ref
  {"out.csv" "ex02-out.csv"
   "stats.csv" "ex02-stats.csv"}}
 {:engine :erin_single
  :args "ex03.toml out.csv stats.csv blue_sky"
  :compare-generated-to-ref
  {"out.csv" "ex03-out.csv"
   "stats.csv" "ex03-stats.csv"}}
 {:engine :erin_single
  :args "ex03.toml out.csv stats.csv class_5_hurricane"
  :compare-generated-to-ref
  {"out.csv" "ex03_class_5_hurricane.csv"
   "stats.csv" "ex03_class_5_hurricane_stats.csv"}}
 {:engine :erin_single
  :args "ex03.toml out.csv stats.csv class_1_hurricane"
  :compare-generated-to-ref
  {"out.csv" "ex03_class_1_hurricane.csv"
   "stats.csv" "ex03_class_1_hurricane_stats.csv"}}
 {:engine :erin_multi
  :args "ex01.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex01-multi-out.csv"
   "stats.csv" "ex01-multi-stats.csv"}}
 {:engine :erin_multi
  :args "ex02.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex02-multi-out.csv"
   "stats.csv" "ex02-multi-stats.csv"}}
 {:engine :erin_multi
  :args "ex04.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex04-multi-out.csv"
   "stats.csv" "ex04-multi-stats.csv"}}
 {:engine :erin_single
  :args "ex05.toml out.csv stats.csv scenario01"
  :compare-generated-to-ref
  {"out.csv" "ex05-scenario01.csv"
   "stats.csv" "ex05-scenario01-stats.csv"}}
 {:engine :erin_multi
  :args "ex06.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex06-multi-out.csv"
   "stats.csv" "ex06-multi-stats.csv"}}
 {:engine :erin_graph
  :args "ex01.toml out.txt normal_operations"
  :compare-generated-to-ref
  {"out.txt" "ex01_normal_operations.txt"}}
 {:engine :erin_multi
  :args "ex07.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex07-out.csv"
   "stats.csv" "ex07-stats.csv"}}
 {:engine :erin_multi
  :args "ex08.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex08-out.csv"
   "stats.csv" "ex08-stats.csv"}}
 {:engine :erin_multi
  :args "ex09.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex09-out.csv"
   "stats.csv" "ex09-stats.csv"}}
 {:engine :erin_multi
  :args "ex10.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex10-out.csv"
   "stats.csv" "ex10-stats.csv"}}
 {:engine :erin_multi
  :args "ex11.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex11-out.csv"
   "stats.csv" "ex11-stats.csv"}}
 {:engine :erin_multi
  :args "ex12.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex12-out.csv"
   "stats.csv" "ex12-stats.csv"}}
 {:engine :erin_multi
  :args "ex13.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex13-out.csv"
   "stats.csv" "ex13-stats.csv"}}
 {:engine :erin_multi
  :args "ex14.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex14-out.csv"
   "stats.csv" "ex14-stats.csv"}}
 {:engine :erin_multi
  :args "ex15.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex15-out.csv"
   "stats.csv" "ex15-stats.csv"}}
 {:engine :erin_multi
  :args "ex16.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex16-out.csv"
   "stats.csv" "ex16-stats.csv"}}
 {:engine :erin_multi
  :args "ex17.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex17-out.csv"
   "stats.csv" "ex17-stats.csv"}}
 {:engine :erin_multi
  :args "ex18.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex18-out.csv"
   "stats.csv" "ex18-stats.csv"}}
 {:engine :erin_multi
  :args "ex19.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex19-out.csv"
   "stats.csv" "ex19-stats.csv"}}
 {:engine :erin_multi
   :args "ex20.toml out.csv stats.csv"
   :compare-generated-to-ref
   {"out.csv" "ex20-out.csv"
    "stats.csv" "ex20-stats.csv"}}
 {:engine :erin_multi
   :args "ex21.toml out.csv stats.csv"
   :compare-generated-to-ref
   {"out.csv" "ex21-out.csv"
    "stats.csv" "ex21-stats.csv"}}
 {:engine :erin_multi
   :args "ex22.toml out.csv stats.csv"
   :compare-generated-to-ref
   {"out.csv" "ex22-out.csv"
    "stats.csv" "ex22-stats.csv"}}]
