;; this file is written in EDN format:
;; https://github.com/edn-format/edn
[{:engine :e2rin_single
  :args "ex01.toml out.csv stats.csv blue_sky"
  :compare-generated-to-ref
  {"out.csv" "ex01-out.csv"
   "stats.csv" "ex01-stats.csv"}}
 {:engine :e2rin_single
  :args "ex02.toml out.csv stats.csv blue_sky"
  :compare-generated-to-ref
  {"out.csv" "ex02-out.csv"
   "stats.csv" "ex02-stats.csv"}}
 {:engine :e2rin_single
  :args "ex03.toml out.csv stats.csv blue_sky"
  :compare-generated-to-ref
  {"out.csv" "ex03-out.csv"
   "stats.csv" "ex03-stats.csv"}}
 {:engine :e2rin_single
  :args "ex03.toml out.csv stats.csv class_5_hurricane"
  :compare-generated-to-ref
  {"out.csv" "ex03_class_5_hurricane.csv"
   "stats.csv" "ex03_class_5_hurricane_stats.csv"}}
 {:engine :e2rin_single
  :args "ex03.toml out.csv stats.csv class_1_hurricane"
  :compare-generated-to-ref
  {"out.csv" "ex03_class_1_hurricane.csv"
   "stats.csv" "ex03_class_1_hurricane_stats.csv"}}
 {:engine :e2rin_multi
  :args "ex01.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex01-multi-out.csv"
   "stats.csv" "ex01-multi-stats.csv"}}
 {:engine :e2rin_multi
  :args "ex02.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex02-multi-out.csv"
   "stats.csv" "ex02-multi-stats.csv"}}
 {:engine :e2rin_multi
  :args "ex04.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex04-multi-out.csv"
   "stats.csv" "ex04-multi-stats.csv"}}
 {:engine :e2rin_single
  :args "ex05.toml out.csv stats.csv scenario01"
  :compare-generated-to-ref
  {"out.csv" "ex05-scenario01.csv"
   "stats.csv" "ex05-scenario01-stats.csv"}}
 {:engine :e2rin_multi
  :args "ex06.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex06-multi-out.csv"
   "stats.csv" "ex06-multi-stats.csv"}}
 {:engine :e2rin_graph
  :args "ex01.toml out.txt normal_operations"
  :compare-generated-to-ref
  {"out.txt" "ex01_normal_operations.txt"}}
 {:engine :e2rin_multi
  :args "ex07.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex07-out.csv"
   "stats.csv" "ex07-stats.csv"}}
 {:engine :e2rin_multi
  :args "ex08.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex08-out.csv"
   "stats.csv" "ex08-stats.csv"}}
 {:engine :e2rin_multi
  :args "ex09.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex09-out.csv"
   "stats.csv" "ex09-stats.csv"}}
 {:engine :e2rin_multi
  :args "ex10.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex10-out.csv"
   "stats.csv" "ex10-stats.csv"}}
 {:engine :e2rin_multi
  :args "ex11.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex11-out.csv"
   "stats.csv" "ex11-stats.csv"}}
 {:engine :e2rin_multi
  :args "ex12.toml out.csv stats.csv"
  :compare-generated-to-ref
  {"out.csv" "ex12-out.csv"
   "stats.csv" "ex12-stats.csv"}}]
